:root {
  --error-color: #dc3545;
  --success-color:#fff;
}

/* permet le debug des elements qui ont le focus*/
*:focus {
  outline: 2px solid red !important;
}


.photograph-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  align-items: center;
}

.photograph-header .identity {
  padding-left: 40px;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photograph-header h1 {
  color: #d3573c;
  font-size: 64px;
  margin-bottom: 0;
}

.photograph-header h3 {
  color: #901c1c;
  font-size: 24px;
  margin-bottom: 0;
}

.photograph-header p {
  font-size: 18px;
  margin-bottom: 0;
}

.portfolio_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
  margin-top: 100px;
  padding: 50px 50px;
}

.portfolio_section article img,
video {
  aspect-ratio: 1/1;
  width:100%;
  object-position: center;
  object-fit: cover;
  border-radius: 5px;
  background: #c4c4c4;
}

.portfolio_section article div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.portfolio_section article div p {
  color: #901c1c;
  font-size: 24px;
}

.portfolio_section article div span span {
  color: #901c1c;
  font-size: 24px;
}

.bottom-right-encart {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 376px;
  height: 89px;
  background-color: #DB8876;
  border-radius: 5px;
}

.bottom-left-encart h4 {
  display: inline-block;
  font-size: 24px;
}
/* partie modale */
.closeButton {
  background: #db8876;
  cursor: pointer;
  border:none;
}

.openButton,.submitButton {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#contact_modal {
  display: none;
  position: fixed;
  top: 5%;
  left: 15%;
  width: 70%;
  zoom:90%;
}

/* #contact_modal {
  display: none;
} */
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap:1px;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  background: #DB8876;
  margin-top: 0%;
}

 /* .modal header img {
  cursor: pointer;
} */

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

/* form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
} */

form label {
  color: #312e2e;
  font-size: 36px;
}

#signUp {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: self-start; */
  margin-bottom: 26px;
  font-size: 36px;
}

form input,textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
}

.error input {
  background: var(--error-color);
}

.success input{
  background: var(--success-color);
}

.error textarea {
  background: var(--error-color);
}

/*modal*/
.modalLightBox.show {
  display:block;
}

.modalLightBox {
display: none;
position: fixed;
left: 0px;
top: 0px;
bottom: 0px;
right: 0px;
background:rgba(0, 0, 0, 0.7);
}

.modalLightBox-content {
width: 90%;
margin: auto;
position: absolute;
top: 50%;
left: 70%;
transform: translate(-50%, -50%);
}

.modalLightBox-content .photoLightBox , .videoLightBox {
  aspect-ratio: 1/1;
  width: 50%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.closeLightBox {
color: white;
font-size: 3em;
width:82px;
height:82px;
position: fixed;
top: 20px;
right: 10px;
cursor: pointer;
}

.closeLightBox:hover {
  opacity:1;
}

.lightBoxSuivant,
.lightBoxPrecedent {
background: url(../assets/svg/🦆\ icon\ _chevron\ right_.svg) center center 100% 100%;
width:36px;
height:48px;
border: none;
position:fixe;
top:0;
right:0;
margin-top: -14px;
opacity:0.5;
text-indent: -3000px;
cursor: pointer;
transition:0.4s;
z-index: 25;
}

.lightBoxSuivant:hover,
.lightBoxPrecedent:hover{
  opacity:1;
}

.lightBoxPrecedent {
  right: auto;
  left:0;
  transform: rotate(180deg);
}



