:root {
  --error-color: #dc3545;
  --success-color: #fff;
  --button-color: #901c1c;
}

/*use for debug elements with focus*/
*:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

body {
  width: auto;
  height: 1950px;
  margin-bottom: 100px;
}
.photograph-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  align-items: center;
  margin-bottom: 100px;
}

.photograph-header .identity {
  padding-left: 40px;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photograph-header h1 {
  color: #d3573c;
  font-size: 64px;
  margin-bottom: 0;
}

.photograph-header h2 {
  color: #901c1c;
  font-size: 24px;
  margin-bottom: 0;
}

.photograph-header p {
  font-size: 18px;
  margin-top: 20px;
  text-align: start;
  margin-bottom: 0;
  margin-top: 20px;
  text-align: start;
}

.portfolio_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
  padding: 20px 20px;
}

.portfolio_section article {
  width: 350px;
  height: 350px;
}
.portfolio_section article img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #c4c4c4;
}

.portfolio_section article video {
  aspect-ratio: 1/1;
  width: 100%;
  height:100%;
  object-position: center;
  object-fit: cover;
  border-radius: 5px;
  background: #c4c4c4;
}


.portfolio_section article div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.portfolio_section article div p {
  color: #901c1c;
  font-size: 24px;
}

.portfolio_section article div .likesPhotographer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: rgba(144,28,28,1);
  font-size: 24px;
}

.bottom-right-encart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 860px;
  left: 1400px;
  width: 370px;
  height: 69px;
  background-color: #db8876;
  border-radius: 5px;
}

#encartLike > svg {
  margin-left: -100px;
}
#encartLike > div{
  margin-right: 30px;
  margin-left: 30px;
}
.encartLike {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 90px;
  font-size: 24px;
}

#encartLike > h1 {
  font-size: 24px;
  color:black;
}

/* header cross */
#cross {
  position: relative;
}
/* cross */
.closeButton {
  background: #db8876;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 10px;
}

.openButton,
.submitButton {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.openButton:focus{
  background-color: #d3573c;
}
.openButton:hover{
  background-color: #d3573c;
}

#contact_modal {
  display: none;
  width: 1440px;
  height: 1024px;
  position: fixed;
  top: 5%;
  left: 4%;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 669px;
  height: calc(80% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
  padding: 35px;
  margin: auto;
  box-shadow: -5px 10px 30px 0px #00000040;
}

.modal header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* width: 100%; */
  background: #db8876;
  margin-top: 0%;
}

.modal header h1,
p {
  height: 83px;
  width: auto;
  margin: 0;
  font-size: 64px;
  font-weight: normal;
  text-align: center;
  color:black;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

#signUp {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 26px;
  font-size: 36px;
}

form input,
textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
}

/*managment error about form*/
.error input {
  background: var(--error-color);
}

.success input {
  background: var(--success-color);
}

.error textarea {
  background: var(--error-color);
}

/*appear modal*/
.modalLightBox.show {
  display: block;
}

.modalLightBox {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  bottom: 0px;
  right: 0px;
  transform: translate(-50%, -50%);
  background: rgba(144,144,144,1);
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modalLightBox-content {
  width: 60%;
  height:700px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%);
  max-width: 1050px;
}

.modalLightBox-content .photoLightBox,
.videoLightBox {
  width: 70%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  border: 5px solid #fff;
  margin-left: 28%;
}

.closeLightBox {
  color: rgb(144, 28, 28,1);
  font-size: 4em;
  width: 95%;
  height: 82px;
  display: flex;
  justify-content: end;
  cursor: pointer;
  opacity: 0.7;
}

.closeLightBox:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

#modalLightBox > a {
  text-decoration: none;
}

.modalLightBox .lightBoxSuivant,
.modalLightBox .lightBoxPrecedent {
  background: url(../assets/svg/icon-chevron-right.svg) center center/43px 72px
    no-repeat;
  width: 10%;
  height: 90%;
  border: none;
  position: fixed;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.4s;
}

.lightBoxSuivant:hover,
.lightBoxPrecedent:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

.modalLightBox .lightBoxPrecedent {
  left: 11%;
  transform: rotate(180deg);
}

.modalLightBox .lightBoxSuivant {
  left: 80%;
}

#modalLightBox > div > p {
  position: fixed;
  font-size: 24px;
  left:28%;
}

.dropbtn {
  background-color: var(--button-color);
  display:flex;
  justify-content: space-between;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 190px;
  position:relative;
  left:100px;
  bottom: 55px;
}

 /* .dropbtn:hover,
.dropbtn:focus {
  background-color: var(--button-color);
}  */

.dropdown {
  position: relative;
  display: inline-block;
} 

#sorting {
  margin-left: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  left:119px;
  top:50px;
  background-color: var(--button-color);
  width: 190px;
  box-shadow: 0px 4px 4px 0px #00000040;
  z-index: 100;
}

.dropdown-content #popularite,#date {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: solid 1px; 
  width:140px;
  height: auto;
  margin:auto;
}

.dropdown-content #titre {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width:140px;
  height: auto;
  margin:auto;
}

.dropdown > #dropComment {
  font-size: 18px;
  line-height: 23.44px;
  font-weight: 700;
  margin: 20px 20px;
}

.show {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

/* avoid to display H2 into the section */
.visually-hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
